In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
pd.set_option('display.float_format', '{:.2f}'.format)

path_2022 = '../data/2022/'
path = '../data/'

In [94]:
df_ost = pd.read_csv(path+'ost_svao_2.csv')

In [95]:
df_ost.head(2)

,date_tt,id_tt,id_tov,Name_tov,parent_id_group,parent_group_name,id_group,group_name,morning,evening,post
0,2022-04-18,10864,52,Сметана 25%,33.00,Молочная Продукция,3,Сметана,14.00,8.00,12.00
1,2022-04-18,10864,61,Молоко цельное,33.00,Молочная Продукция,3,Молоко,37.00,25.00,30.00

In [96]:
df_ost['date_tt']=pd.to_datetime(df_ost['date_tt'], format='%Y-%m-%d')
df_ost = df_ost.sort_values('date_tt')

In [97]:
df_ost['day_of_week'] = df_ost['date_tt'].dt.dayofweek
df_ost['month'] = df_ost['date_tt'].dt.month
df_ost['day'] = df_ost['date_tt'].dt.day

In [119]:
tov_11127 = [47254, 37462, 34768, 60695, 34767, 41714, 30443, 57010, 63320, 59236, 60201, 21470, 49771, 25036, 46052, 33154, 1076, 62053, 24568, 47475, 24951, 24950, 24952, 49885, 18567, 372, 60889, 21120, 22580, 38468, 24992, 38663, 28626, 31445, 28622, 20031, 61662, 61666, 26755, 62488, 58433]

tov_11271 = [30520, 47499, 30252, 47254, 37462, 34768, 60695, 34767, 34764, 41714, 30443, 29357, 38553, 57010, 61308, 59236, 38129, 61310, 61808, 49771, 27936, 27937, 38489, 38518, 38499, 58719, 62096, 39535, 46052, 33154, 62053, 63881, 24951, 24950, 18567, 372, 46886, 22580, 56439, 38468, 24992, 38663, 28626, 31445, 28622, 58198, 56760, 34616, 26755, 53166, 58433]

tov_11357 = [47254, 37462, 34768, 41714, 30443, 57010, 64029, 63320, 59236, 60201, 61968, 21470, 38129, 49771, 25036, 36261, 46052, 33154, 1076, 62053, 24568, 22759, 14962, 24951, 24950, 24952, 49885, 372, 17651, 63207, 38468, 24992, 38663, 28626, 24804, 22527, 21379, 25364, 61662, 19913, 61666, 787, 1771, 26755, 62488, 59328, 58433]

tov_11591 = [30520, 30252, 47254, 37462, 34768, 60695, 34767, 34764, 41714, 30443, 29357, 38553, 57010, 61308, 59236, 60201, 61968, 21470, 61310, 61808, 49771, 61194, 46052, 33154, 14900, 1076, 62053, 63881, 47771, 21120, 20675, 22580, 56439, 38468, 24992, 38663, 28626, 31445, 28622, 58198, 23169, 56760, 61662, 61666, 34616, 26755]

tov_11956 = [30520, 30252, 47254, 37462, 34768, 60695, 34767, 34764, 41714, 30443, 29357, 57010, 59236, 60201, 61968, 21470, 38129, 61310, 49771, 25036, 61194, 36261, 46052, 33154, 1076, 62053, 63881, 47475, 60889, 21120, 20675, 22580, 56439, 667, 38468, 24992, 38663, 28626, 31445, 28622, 58198, 21379, 61662, 19913, 61666, 34616, 26755]

tov_12046 = [250, 27166, 24568, 34100, 14662, 487, 23995, 21194, 1680, 20000, 33231, 54394, 36098, 17916, 24734]

tov_13968 = [22779, 55493, 34100, 14962, 487, 23995, 14844, 20873, 36430, 26582, 22580, 63628, 44780, 17916]

tov_14258 = [47254, 37462, 34768, 60695, 34767, 34764, 41714, 30443, 57010, 59236, 60201, 61968, 21470, 26895, 49771, 25036, 46052, 33154, 1076, 62053, 1110, 24951, 24950, 24952, 49885, 58796, 60889, 63207, 38468, 24992, 38663, 28626, 31445, 28622, 20031, 61662, 19913, 61666, 26755, 61310]

tov_15714 = [30520, 47499, 30252, 47254, 37462, 34768, 60695, 34767, 34764, 41714, 30443, 29357, 38553, 57010, 61308, 64029, 63945, 61638, 64028, 64462, 63320, 16211, 59236, 60201, 61968, 21470, 27955, 50217, 61310, 61808, 49771, 25036, 61194, 46052, 33154, 1076, 62053, 63881, 47771, 24951, 24950, 24952, 49885, 18567, 372, 46886, 20675, 49834, 38468, 24992, 38663, 28626, 31445, 28622, 58198, 23169, 31239, 63628, 34616, 26755, 53166, 62488, 23090]

tov_11178 = [33154, 61662, 21470, 24950, 38468, 57010, 30443, 26755, 24992, 24952, 61666, 38663, 61968, 41714, 28626, 26895, 46052, 49771, 47254, 1076, 37462, 34768, 62053, 49885, 59236, 60695, 35085, 31445, 55502, 20813, 53119, 28622, 34767, 34764, 23175, 61310, 30252, 56439, 20675, 35087, 58198, 29357, 30520, 63881, 61194, 46796, 34616, 38553, 23169, 54522, 36161, 61808, 37503, 45884, 61308, 37144, 47499, 50217, 43442, 30536, 38208, 33006, 44366, 58354, 47454, 36308, 39927, 61311, 49766, 57938, 50212, 33005, 47456, 20673]

In [120]:
tt = [11127, 11178, 11271, 11357, 11591, 11956, 12046, 13968, 14258, 15714]
tov = [tov_11127, tov_11178, tov_11271, tov_11357, tov_11591, tov_11956, tov_12046, tov_13968, tov_14258, tov_15714]

In [123]:
for i in range(len(tt)):
    df_tt = pd.read_csv(path_2022+f'{tt[i]}_выборка.csv', sep=';')

    #tov_list = df_tt['id_tov_cl'].unique()
    tov_list = tov[i]

    df = df_ost[(df_ost['id_tov'].isin(tov_list)) & (df_ost['month']==6) & (df_ost['post']>0)].groupby(['id_tov','id_tt'], as_index=False)\
             .agg({'day':pd.Series.to_list, 'post':['count', 'mean', pd.Series.to_list]})

    # избавляемся от мультииндекса колонок
    df.columns = df.columns.map(''.join)
    df = df.rename(columns = {'daytolist':'дни поступления тов. в месяце', 'postcount':'кол. поставок', 'postmean':'средняя поставка', 'posttolist':'список количества товара в поставках'})

    df['средняя поставка'] = df['средняя поставка'].apply(lambda i: np.round(i, 1))
    df['список количества товара в поставках'] = df['список количества товара в поставках'].apply(lambda s: [int(i) for i in s])

    df = df.merge(df_tt[['id_tov_cl', 'name', 'name_gr2', 'name_gr']], how='left', left_on='id_tov', right_on='id_tov_cl').drop('id_tov_cl', axis=1)
    df.to_csv(path_2022+f'{tt[i]}_поставки.csv', sep=';', index=False)
    df

In [115]:
df_tt

,id_tov_cl,Кол_февр,Кол_март,Кол_апр,Кол_май,Кол_22,Сумма_22,name,name_gr2,name_gr,Quantity_median,Quantity_mean,BaseSum_median,BaseSum_mean,Shop_count,Shop_list
0,30520,0.00,0.00,0.00,0.00,0.00,0.00,Лагман с говядиной Айс,Вторые блюда мясо айс,Айс ВкусВилл,52.00,52.00,6271.00,6271.00,1.00,[14330]
1,47499,0.00,0.00,0.00,0.00,0.00,0.00,Манты с бараниной Айс,Вторые блюда мясо айс,Айс ВкусВилл,23.00,23.00,5588.00,5588.00,2.00,"[15123, 14330]"
2,30252,0.00,0.00,0.00,0.00,0.00,0.00,Эклер ванильный Айс,Десерты айс,Айс ВкусВилл,27.00,27.00,6505.00,6505.00,1.00,[11512]
3,34768,0.00,0.00,0.00,0.00,0.00,0.00,"Рулет ""Лимонный"" Айс",Десерты на компанию айс,Айс ВкусВилл,29.00,28.00,7343.00,7034.00,3.00,"[11701, 14330, 11512]"
4,34767,0.00,0.00,0.00,0.00,0.00,0.00,"Рулет ""Шоколадный"" Айс",Десерты на компанию айс,Айс ВкусВилл,28.00,29.00,6718.00,7047.00,3.00,"[11701, 14330, 11512]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,54406,11.00,8.00,6.00,2.00,27.00,2917.25,Заварные шарики с вареной сгущенкой,"Профитроли, эклеры","Торты, пирожные, десерты",48.00,48.00,6931.00,6954.00,3.00,"[14330, 12612, 14332]"
314,58433,0.00,0.00,0.00,0.00,0.00,0.00,"Торт ""Тирамису"", веган","Торты постные, веганские","Торты, пирожные, десерты",21.00,21.00,8945.00,8945.00,1.00,[14330]
315,60272,0.00,12.00,8.00,0.00,20.00,984.38,"Лаваш ""Армянский"" тандырный, нарезка, 200 г",Национальный хлеб,Хлеб,119.00,119.00,6377.00,6372.00,4.00,"[14343, 12853, 11616, 11512]"
316,20610,53.00,6.00,0.00,0.00,59.00,2081.92,"Лепешка ""Грузинская""",Национальный хлеб,Хлеб,136.00,138.00,5351.00,5448.00,4.00,"[14258, 15123, 14330, 11512]"
317,18336,0.00,0.00,0.00,0.00,0.00,0.00,Чиабатта,Хлеб на закваске,Хлеб,81.00,88.00,6327.00,6967.00,11.00,"[10864, 12853, 11701, 14330, 12612, 11178, 116..."